#warehouse-statistics {
  .statistics-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding:0 $paddingSize 0  $paddingSize;
    .statistics-row {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    .statistics-list {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      .unit {
        font-size: $fontSizeNormal;
        margin-left: 4px;
      }
      .tag {
        width: $paddingSize *3;
        height: $paddingSize *3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: $fontSizeNormal /2;
        background: rgba(47,89,255,0.3);
        color: rgba(47,89,255,1);
        margin-right: $paddingSize ;
        .fa-reply{transform: scaleX(-1)}
        .fa-reply-all{transform: scaleX(-1)}
      }

      .statistics-text-container {
        flex-direction: row;
        display: flex;
        flex: 1;
        justify-content: space-between;
        .statistics-value {
          font-size:$fontSizeNormal*5/3;
          color: $white;
  
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .statistics-label {
          color: $white;
          font-weight: lighter;
          // color: $textLigh;
          font-size: $fontSizeNormal*4/3;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
    .statistics-list-warning {
      .tag {
        background: rgba(255,0,109,0.3);
        color:rgba(255,0,109,1);
      }
    }
  }
}
